In [35]:
#import the pandas library it contains a data set
import pandas as pd

In [36]:
#pd read comma separated value assign the value of dataset
dataset=pd.read_csv("salary_data.csv")
dataset

    years_experianse  salary
0                1.1   39343
1                1.3   46205
2                1.5   37731
3                2.0   43525
4                2.2   39891
5                2.9   56642
6                3.2   54445
7                3.2   64445
8                3.7   57189
9                3.9   63218
10               4.0   55794
11               4.0   56957
12               4.1   57081
13               4.5   61111
14               4.9   67938
15               5.1   66029
16               5.3   83088
17               6.0   93940
18               6.8   91738
19               7.1   98273
20               7.9  101302
21               8.2  113812
22               8.7  109431
23               1.3   25000
24               5.5   50000

In [51]:
#create a independent value of datasset
independent=dataset[["years_experianse"]]
independent

    years_experianse
0                1.1
1                1.3
2                1.5
3                2.0
4                2.2
5                2.9
6                3.2
7                3.2
8                3.7
9                3.9
10               4.0
11               4.0
12               4.1
13               4.5
14               4.9
15               5.1
16               5.3
17               6.0
18               6.8
19               7.1
20               7.9
21               8.2
22               8.7
23               1.3
24               5.5

In [52]:
#create a dependent value of dataset
dependent=dataset[["salary"]]

In [39]:
#import the train and test split separated train and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(independent, dependent, test_size=0.30, random_state=0)

In [53]:
#import the linearRegression and fit the x_train y_train 
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [41]:
#regressor co-efficient
weight=regressor.coef_
weight

array([[10101.98832347]])

In [42]:
#regressor intercept
bais=regressor.intercept_
bais

array([21599.52864694])

In [43]:
#predict the value test set
y_pred=regressor.predict(x_test)

In [44]:
#import r2_score it as predict and test the value
from sklearn.metrics import r2_score
r_score=r2_score(y_test,y_pred)

r_score

In [45]:
r_score

0.7871547493799449

In [46]:
#import pickle  library and save new model
import pickle

In [47]:
filename="final_model_creation.sav"

In [48]:
pickle.dump(regressor,open(filename,'wb'))

In [54]:
#loaded the model and test for end user
loaded_model=pickle.load(open("final_model_creation.sav",'rb'))
result=loaded_model.predict([[15]])

In [55]:
result

array([[173129.35349901]])